* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Poiret One', cursive;
}

body {
    background-image: url(/img/uso/исотян.png);
    background-size: 100%;
}

/*#UsoReplica {
    margin-top: 30%;
    height: auto;
}*/